# pm_pcsgen 環境定義書 ファイル形式バージョン: 1.1,,,,,,,,,,,,,
#表 1-1 クラスタ設定　…　クラスタ・ノード属性,,,,,,,,,,,,,
,NODE,,,,,,,,,,,,
,,uname,,type,,name,,value,,,,,
#,,ノード名,,パラメータ種別,,項目,,設定内容,,,備考,,
,,,,,,,,,,,記述しない,,
,,,,,,,,,,,記述しない,,
,,,,,,,,,,,,,
#表 2-1 クラスタ設定　…　クラスタ・プロパティ,,,,,,,,,,,,,
,PROPERTY,,,,,,,,,,,,
,,name,,value,,,,,,,,,
#,,項目,,設定内容,,,概要,,,,備考,,
,,priority-fencing-delay,,10s,,,fence開始待機時間 ,,,,,,
,,,,,,,,,,,,,
#表 3-1 クラスタ設定　…　リソース・デフォルト,,,,,,,,,,,,,
,RSC_DEFAULTS,,,,,,,,,,,,
,,name,,value,,,,,,,,,
#,,項目,,設定内容,,,概要,,,,備考,,
,,resource-stickiness,,200,,,リソース割当て,,,,,,
,,migration-threshold,,1,,,リソース故障可能回数,,,,,,
,,,,,,,,,,,,,
#表 3-2 クラスタ設定　…　オペレーション・デフォルト,,,,,,,,,,,,,
,OP_DEFAULTS,,,,,,,,,,,,
,,name,,value,,,,,,,,,
#,,項目,,設定内容,,,概要,,,,備考,,
,,,,,,,,,,,記述しない,,
,,,,,,,,,,,記述しない,,
,,,,,,,,,,,,,
#表 4-1 クラスタ設定　…　リソース構成,,,,,,,,,,,,,
,RESOURCES,,,,,,,,,,,,
,,resourceItem,resourceItem,resourceItem,id,,,,,,,,
#,,リソース構成要素,,,リソースID,,,概要,,,備考,,
,,Group,,,primary-group,,,グループ定義,,,,,
,,,Primitive,,ipaddr-primary,,,PostgreSQL(Primary)接続用仮想IP割当,,,,,
,,,Primitive,,ipaddr-replication,,,レプリケーション接続用仮想IP割当,,,,,
,,Primitive,,,ipaddr-standby,,,PostgreSQL(Standby)接続用仮想IP割当,,,,,
,,Promotable,,,pgsql-clone,,,Promotable定義,,,CloneのIDには「<Clone対象リソースのID>-clone」を指定すること,,
,,,Primitive,,pgsql,,,PostgreSQL制御,,,,,
,,Clone,,,ping-clone,,,クローン定義,,,,,
,,,Primitive,,ping,,,ネットワーク監視,,,CloneのIDには「<Clone対象リソースのID>-clone」を指定すること,,
,,Stonith,,,fence1-ipmilan,,,ハードウェア制御STONITHプラグイン,,,,,
,,Stonith,,,fence2-ipmilan,,,ハードウェア制御STONITHプラグイン,,,,,
,,,,,,,,,,,,,
#表 5-1 クラスタ設定　…　リソース・パラメータ（meta）,,,,,,,,,,,,,
,RSC_ATTRIBUTES,,,,,,,,,,,,
,,id,,name,,,value,,,,,,
#,,リソースID,,項目,,,設定内容,,,備考,,,
,,pgsql-clone,,promoted-max,,,1,,,,,,
,,,,promoted-node-max,,,1,,,,,,
,,,,clone-max,,,2,,,,,,
,,,,clone-node-max,,,1,,,,,,
,,,,notify,,,true,,,,,,
,,,,priority,,,1,,,,,,
,,,,,,,,,,,,,
#表 6-1 クラスタ設定　…　STONITHの実行順序,,,,,,,,,,,,,
,STONITH_LEVEL,,,,,,,,,,,,
,,node,,id,,,level,,,,,,
#,,STONITH対象ノード,,実行するSTONITHリソースID,,,実行順序,,,備考,,,
,,,,,,,,,,記述しない,,,
,,,,,,,,,,記述しない,,,
,,,,,,,,,,記述しない,,,
,,,,,,,,,,,,,
#表 7-1 クラスタ設定 … Primitiveリソース,,,,,,,,,,,,,
,PRIMITIVE,,,,,,,,,,,,
,P,id,,class,,provider,,type,,,,,
#,,リソースID,,class,,provider,,type,,概要,,,
,,ipaddr-primary,,ocf,,heartbeat,,IPaddr2,,PostgreSQL(Primary)接続用仮想IP割当,,,
,A,type,name,,value,,,,,,,,
#,,パラメータ種別,項目,,設定内容,,,,,概要,,,
,,options,ip,,{{ svlan[0].ip }},,,,,PostgreSQL(Primary)接続用仮想IPアドレス,,,
,,,nic,,{{ svlan[0].nic }},,,,,同デバイス名 ,,,
,,,cidr_netmask,,{{ svlan[0].cidr }},,,,,同ネットマスク ,,,
,O,type,timeout,,interval,,on-fail,,role,,start-delay,,
#,,オペレーション,タイムアウト値,,監視間隔,,障害時の動作,,役割,,起動前待機時間,備考,
,,start,60s,,,,restart,,,,,,
,,monitor,60s,,10s,,restart,,,,,,
,,stop,60s,,,,fence,,,,,,
,,,,,,,,,,,,,
,PRIMITIVE,,,,,,,,,,,,
,P,id,,class,,provider,,type,,,,,
#,,リソースID,,class,,provider,,type,,概要,,,
,,ipaddr-replication,,ocf,,heartbeat,,IPaddr2,,レプリケーション接続用仮想IP割当,,,
,A,type,name,,value,,,,,,,,
#,,パラメータ種別,項目,,設定内容,,,,,概要,,,
,,options,ip,,{{ dvlan[0].ip }},,,,,レプリケーション接続用仮想IPアドレス,,,
,,,nic,,{{ dvlan[0].nic }},,,,,同デバイス名 ,,,
,,,cidr_netmask,,{{ dvlan[0].cidr }},,,,,同ネットマスク ,,,
,,meta,migration-threshold,,0,,,,,,,,
,O,type,timeout,,interval,,on-fail,,role,,start-delay,,
#,,オペレーション,タイムアウト値,,監視間隔,,障害時の動作,,役割,,起動前待機時間,備考,
,,start,60s,,,,stop,,,,,,
,,monitor,60s,,10s,,restart,,,,,,
,,stop,60s,,,,ignore,,,,,,
,,,,,,,,,,,,,
,PRIMITIVE,,,,,,,,,,,,
,P,id,,class,,provider,,type,,,,,
#,,リソースID,,class,,provider,,type,,概要,,,
,,ipaddr-standby,,ocf,,heartbeat,,IPaddr2,,PostgreSQL(Standby)接続用仮想IP割当,,,
,A,type,name,,value,,,,,,,,
#,,パラメータ種別,項目,,設定内容,,,,,概要,,,
,,options,ip,,{{ svlan[1].ip }},,,,,PostgreSQL(Standby)接続用仮想IPアドレス,,,
,,,nic,,{{ svlan[1].nic }},,,,,同デバイス名 ,,,
,,,cidr_netmask,,{{ svlan[1].cidr }},,,,,同ネットマスク ,,,
,,meta,resource-stickiness,,1,,,,,,,,
,O,type,timeout,,interval,,on-fail,,role,,start-delay,,
#,,オペレーション,タイムアウト値,,監視間隔,,障害時の動作,,役割,,起動前待機時間,備考,
,,start,60s,,,,restart,,,,,,
,,monitor,60s,,10s,,restart,,,,,,
,,stop,60s,,,,fence,,,,,,
,,,,,,,,,,,,,
,PRIMITIVE,,,,,,,,,,,,
,P,id,,class,,provider,,type,,,,,
#,,リソースID,,class,,provider,,type,,概要,,,
,,pgsql,,ocf,,linuxhajp,,pgsql,,PostgreSQL制御,,,
,A,type,name,,value,,,,,,,,
#,,パラメータ種別,項目,,設定内容,,,,,概要,,,
,,options,pgctl,,/usr/pgsql-13/bin/pg_ctl,,,,,pg_ctlコマンド・パス,,,
,,,psql,,/usr/pgsql-13/bin/psql,,,,,psqlコマンド・パス,,,
,,,pgdata,,{{ postgresql_data.path }},,,,,DBクラスタ領域ディレクトリ名,,,
,,,pgdba,,postgres,,,,,DB管理ユーザ,,,
,,,pgport,,5432,,,,,通信ポート番号,,,
,,,pgdb,,template1,,,,,アクセス確認用DB名,,,
,,,rep_mode,,sync,,,,,レプリケーションモード,,,
,,,node_list,,pgrex01 pgrex02,,,,,ノード一覧(uname -nの結果) ,,,
,,,master_ip,,{{ dvlan[0].ip }},,,,,仮想IP(レプリケーション用) ,,,
,,,restore_command,,/bin/cp {{ postgresql_archive.path }}/%f %p,,,,,PostgreSQLのrestore_commandパラメータ ,,,
,,,repuser,,{{ postgresql_repuser.name }},,,,,レプリケーションユーザ ,,,
,,,primary_conninfo_opt,,keepalives_idle=60 keepalives_interval=5 keepalives_count=5,,,,,PostgreSQLのprimary_conninfoパラメータへの追加設定 ,,,
,,,stop_escalate,,0,,,,,Primaryをimmediate shutdownで停止させる設定 ,,,
,,,xlog_check_count,,0,,,,,monitor時にxlogのチェックをする回数 ,,,
,O,type,timeout,,interval,,on-fail,,role,,start-delay,,
#,,オペレーション,タイムアウト値,,監視間隔,,障害時の動作,,役割,,起動前待機時間,備考,
,,start,300s,,0s,,restart,,,,,,
,,monitor,60s,,10s,,restart,,,,,,
,,monitor,60s,,9s,,restart,,Master,,,,
,,promote,300s,,0s,,restart,,,,,,
,,demote,300s,,0s,,fence,,,,,,
,,notify,60s,,0s,,,,,,,,
,,stop,300s,,0s,,fence,,,,,,
,,,,,,,,,,,,,
,PRIMITIVE,,,,,,,,,,,,
,P,id,,class,,provider,,type,,,,,
#,,リソースID,,class,,provider,,type,,概要,,,
,,ping,,ocf,,pacemaker,,ping,,ネットワーク監視,,,
,A,type,name,,value,,,,,,,,
#,,パラメータ種別,項目,,設定内容,,,,,概要,,,
,,options,name,,ping-status,,,,,ネットワーク監視用の属性名,,,
,,,host_list,,{{ slan[2].ip }},,,,,監視するネットワークのIPアドレス,,,
,,,attempts,,2,,,,,リトライ回数,,,
,,,timeout,,2,,,,,タイムアウト,,,
,,,debug,,true,,,,,ping先故障検知時のログ出力 ,,,
,O,type,timeout,,interval,,on-fail,,role,,start-delay,,
#,,オペレーション,タイムアウト値,,監視間隔,,障害時の動作,,役割,,起動前待機時間,備考,
,,start,60s,,,,restart,,,,,,
,,monitor,60s,,10s,,restart,,,,,,
,,stop,60s,,,,fence,,,,,,
,,,,,,,,,,,,,
#表 8-1 クラスタ設定　…　STONITHリソース,,,,,,,,,,,,,
,STONITH,,,,,,,,,,,,
,P,id,,type,,,,,,,,,
#,,STONITHリソースID,,type,,,,,,概要,,,
,,fence1-ipmilan,,fence_ipmilan,,,,,,ipmiプラグイン（STONITHプラグイン）,,,
,A,type,name,,value,,,,,,,,
#,,パラメータ種別,項目,,設定内容,,,,,概要,,,
,,options,pcmk_host_list,,pg-rex41,,,,,STONITH対象ノードのホスト名(uname -nの結果) ,,,
,,,ip,,172.20.145.87,,,,,ACTノード iLO接続用IPアドレス,,,
,,,username,,Administrator,,,,,ACTノード iLO接続用ユーザID,,,
,,,password,,MKTZ9FFG,,,,,ACTノード iLO接続用パスワード,,,
,,,lanplus,,1,,,,,ACTノード iLO接続用インターフェイス,,,
,O,type,timeout,,interval,,on-fail,,,,,,
#,,オペレーション,タイムアウト値,,監視間隔,,障害時の動作,,,備考,,,
,,start,60s,,,,restart,,,,,,
,,monitor,60s,,3600s,,restart,,,,,,
,,stop,60s,,,,ignore,,,,,,
,,,,,,,,,,,,,
,STONITH,,,,,,,,,,,,
,P,id,,type,,,,,,,,,
#,,STONITHリソースID,,type,,,,,,概要,,,
,,fence2-ipmilan,,fence_ipmilan,,,,,,ipmiプラグイン（STONITHプラグイン）,,,
,A,type,name,,value,,,,,,,,
#,,パラメータ種別,項目,,設定内容,,,,,概要,,,
,,options,pcmk_host_list,,pg-rex42,,,,,STONITH対象ノードのホスト名(uname -nの結果),,,
,,,ip,,172.20.145.88,,,,,SBYノード iLO接続用IPアドレス,,,
,,,username,,Administrator,,,,,SBYノード iLO接続用ユーザID,,,
,,,password,,NJWQP62X,,,,,SBYノード iLO接続用パスワード,,,
,,,lanplus,,1,,,,,SBYノード iLO接続用インターフェイス,,,
,O,type,timeout,,interval,,on-fail,,,,,,
#,,オペレーション,タイムアウト値,,監視間隔,,障害時の動作,,,備考,,,
,,start,60s,,,,restart,,,,,,
,,monitor,60s,,3600s,,restart,,,,,,
,,stop,60s,,,,ignore,,,,,,
,,,,,,,,,,,,,
#表 9-1 クラスタ設定　…　リソース配置制約（ノード）,,,,,,,,,,,,,
,LOCATION_NODE,,,,,,,,,,,,
,,rsc,,prefers/avoids,,node,,score,,,,,
#,,リソースID,,prefers/avoids,,ノード,,スコア,,備考,,,
,,fence1-ipmilan,,avoids,,pg-rex41,,,,,,,
,,fence2-ipmilan,,avoids,,pg-rex42,,,,,,,
,,,,,,,,,,,,,
#表 9-2 クラスタ設定　…　リソース配置制約（ルール）,,,,,,,,,,,,,
,LOCATION_RULE,,,,,,,,,,,,
,,rsc,,score,bool_op,attribute,,op,value,,role,,
#,,リソースID,,スコア,and/or,条件属性名,,条件,条件値,,役割,備考,
,,ipaddr-standby,,200,,pgsql-status,,eq,HS:sync,,,,
,,,,100,,pgsql-status,,eq,PRI,,,,
,,,,-INFINITY,,pgsql-status,,not_defined,,,,,
,,,,-INFINITY,and,pgsql-status,,ne,HS:sync,,,,
,,,,,,pgsql-status,,ne,PRI,,,,
,,pgsql-clone,,-INFINITY,or,ping-status,,not_defined,,,,ネットワーク故障が発生したノードでは起動しない,
,,,,,,ping-status,,lt,1,,,,
,,,,,,,,,,,,,
#表 10-1 クラスタ設定　…　リソース同居制約,,,,,,,,,,,,,
,COLOCATION,,,,,,,,,,,,
,,rsc,,with-rsc,,score,,rsc-role,,with-rsc-role,,,
#,,制約関連リソースID,,制約対象リソースID,,スコア（重み付け）,,制約関連ﾘｿｰｽの役割,,制約対象リソースの役割,,備考,
,,pgsql-clone,,ping-clone,,INFINITY,,,,,,,
,,primary-group,,pgsql-clone,,INFINITY,,,,master,,,
,,,,,,,,,,,,,
,,,,,,,,,,,,,
#表 11-1 クラスタ設定　…　リソース起動順序制約,,,,,,,,,,,,,
,ORDER,,,,,,,,,,,,
,,first-rsc,,then-rsc,,kind,,first-action,,then-action,,symmetrical,
#,,先に起動するリソースID,,後に起動するリソースID,,Optional/Mandatory/Serialize,,先起動ﾘｿｰｽのアクション,,後起動ﾘｿｰｽのアクション,,起動と逆順に停止（y/n）,備考
,,ping-clone,,pgsql-clone,,,,,,,,false,
,,pgsql-clone,,primary-group,,,,promote,,start,,false,
,,pgsql-clone,,primary-group,,Optional,,demote,,stop,,false,
,,,,,,,,,,,,,
#表 12-1 クラスタ設定　…　ALERT設定,,,,,,,,,,,,,
,ALERT,,,,,,,,,,,,
,P,path,,,,,,,,,,,
#,,スクリプトを指定,,,,,,,,概要,,,
,,,,,,,,,,,,,
,A,type,name,,value,,,,,,,,
#,,パラメータ種別,項目,,設定内容,,,,,概要,,,
,,,,,,,,,,,,,
,,,,,,,,,,,,,
,R,recipient,,,,,,,,,,,
#,,受信者を指定,,,,,,,,概要,,,
,,,,,,,,,,,,,
,A,type,name,,value,,,,,,,,
#,,パラメータ種別,項目,,設定内容,,,,,概要,,,
,,,,,,,,,,,,,
,,,,,,,,,,,,,
,R,recipient,,,,,,,,,,,
#,,受信者を指定,,,,,,,,概要,,,
,,,,,,,,,,,,,
,A,type,name,,value,,,,,,,,
#,,パラメータ種別,項目,,設定内容,,,,,概要,,,
,,,,,,,,,,,,,
,,,,,,,,,,,,,
,,,,,,,,,,,,,
#表 13-1 クラスタ設定　…　追加設定,,,,,,,,,,,,,
,ADDITIONAL_CONFIG,,,,,,,,,,,,
,,config,,,,,,,,,,,
#,,追加設定 (記述内容がそのまま出力されます),,,,,,,,,備考,,
,,,,,,,,,,,記述しない,,
,,,,,,,,,,,記述しない,,
,,,,,,,,,,,記述しない,,
,,,,,,,,,,,,,
#,※1.  空行（中間ファイル時に、カンマのみの行）　→　OK,,,,,,,,,,,,
#,※2.  コメント行は、列Aの先頭に「#」を記述する。,,,,,,,,,,,,
